*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.playerspage-container{
    display: flex;
   
}
.playerspage-container .hero-content{
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-position:center;
    background-size: cover;
    background-image: url('../asset/playersBackground.png');
}
.hero-content h1{

}